<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PokedexApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pokedex"
        android:icon="@mipmap/ic_pokemon_launcher"
        android:roundIcon="@mipmap/ic_pokemon_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Pokedex"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
